**/__py_cache__/
.cloud/
.storage/
.vscode/
backups/
blueprints/
custom_components/
custom_templates/
deps/
tts/
www/
image/

*.py[cod]
.HA_VERSION
.omv_cookies.json
.shopping_list.json
google_service_account.json
home-assistant_v2.db*
home-assistant.log*
ip_bans.yaml
known_devices.yaml
secrets.yaml