**/__py_cache__/
.cloud/
.storage/
blueprints/
custom_components/
deps/
tts/
www/

*.py[cod]
.HA_VERSION
.omv_cookies.json
google_service_account.json
home-assistant_v2.db*
home-assistant.log*
ip_bans.yaml
known_devices.yaml
secrets.yaml