default_config:

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.16.0.0/12
  ip_ban_enabled: true
  login_attempts_threshold: 3

frontend:
  extra_module_url:
    - /local/card-mod.js
  themes: !include_dir_merge_named themes

logger:
  default: info
  logs:
    homeassistant: info
    homeconnect_websocket.session: fatal
    aioesphomeapi.connection: fatal
    ring_doorbell.doorbot: fatal
    pychromecast.socket_client: fatal
    homeassistant.components.automation: fatal
    homeassistant.components.sensor.recorder: fatal
    homeassistant.components.mqtt.light.schema_json: fatal
#    homeassistant.components.rflink: debug
    custom_components.pyscript.scripts: debug
    custom_components.localtuya.common: fatal

rflink:
  port: /dev/ttyUSB0

recorder:
  exclude:
    entities:
      - input_number.last_mqtt_message_time
      - automation.mqtt_inactivity_check

homeassistant:
  customize_glob: !include customize.yaml
   
google_assistant:
  project_id: g2hast
  secure_devices_pin: "1234"
  service_account: !include google_service_account.json
  report_state: true
  expose_by_default: true

tts:
  - platform: google_translate

cover: !include covers.yaml
light: !include lights.yaml
notify: !include notify.yaml
sensor: !include sensors.yaml
pyscript: !include pyscript/config.yaml
automation: !include automations.yaml